<style>
	.CodeMirror { 
		text-align: left !important;
		font-size: 15px;
		line-height: 150%;
		resize: both !important;
	}
	.CodeMirror-merge-r-chunk {
    	background: #0095ff2e !important;
	}
	.CodeMirror-merge-r-chunk-end {
    	border-bottom: unset !important;
	}
	.CodeMirror-merge-r-chunk-start {
    	border-top: unset !important;
	}
	.CodeMirror-merge-2pane .CodeMirror-merge-gap {
		height: 700px !important;
	}
	.CodeMirror-merge-r-connect {
		fill: #0095ff2e !important;
		stroke: #0095ff2e !important;
	}
	.CodeMirror-vscrollbar-oc {
		display: none !important;
	}

</style>
<link rel="stylesheet" href="/luci-static/resources/filetransfer/lib/codemirror.css"/>
<script src="/luci-static/resources/filetransfer/lib/codemirror.js"></script>



<table id="my_editor_div" style="width: 100%; text-align: center; display: none;">
<tr>
	<h1><%: HelloWorld %></h1>
	<h1><%: HelloWorld %></h1>
</tr>
</table>
