<%+cbi/valueheader%>
<style type="text/css">
*{margin: 0;padding: 0;}

ul{
	list-style: none;
}

#tab{
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	box-shadow: 0 0 2px #ddd;
	overflow: hidden;
}

#tab-header{
	min-height: 35px;
	text-align: center;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tab-header ul{
	left: -1px;
	width: 100%;
	padding: unset !important;
	margin: unset !important;
}
#tab-header ul li{
	float: left;
	width: 160px;
	line-height: 35px;
	padding: 0 1px;
	border-right: 1px solid #dddddd;
	cursor: pointer;
}
#tab-header ul li a{
	float: unset !important;
	padding: unset !important;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tab-header ul li.cbi-tab > a{
  font-weight: bolder;
  color: unset;
}
#tab-header ul li a:hover{
	color: orangered;
}

</style>

<body>
	<div id="tab" class="cbi-section">
		<div id="tab-header" class="cbi-tabmenu">
			<ul class="cbi-tabmenu">
				<li name="tab-header" class="cbi-tab"><a><%:filetransfer Log%></a></li>
			</ul>
		</div>
	</div>
</body>

<script type="text/javascript">//<![CDATA[

var log_len = 0;
var lv = document.getElementById('cbid.filetransfer.config.clog');
var cl = document.getElementById('core_log');

// 刷新日志
function poll_log(){
    XHR.get('<%=luci.dispatcher.build_url("admin", "system", "filetransfer", "refresh_log")%>', {log_len: log_len},
        function(x, status) {
            if (x && x.status == 200 && status && status.log != "") {
                var log = line_tolocal(status.log);
                var lines = log[0];
                var clines = log[1];
                if (lines != "" || clines != "") {
                    if (lines != "") {
                        lv.innerHTML = lines.join('\n') + (log_len != 0 ? '\n' : '') + lv.innerHTML;
                        oc_editor.setValue(lv.value);
                        oc_editor.refresh();
                    }
                    if (clines != "") {
                        cl.innerHTML = clines.join('\n') + (log_len != 0 ? '\n' : '') + cl.innerHTML;
                        core_editor.setValue(cl.value);
                        core_editor.refresh();
                    }
                    log_len = status.len;
                }
            }
        }
    );
    setTimeout(poll_log, 2000);  // 每2秒刷新一次日志
};

// 下载日志
function createAndDownloadFile(fileName, content) {
    var aTag = document.createElement('a');
    var blob = new Blob([content]);
    aTag.download = fileName;
    aTag.href = URL.createObjectURL(blob);
    aTag.click();
    URL.revokeObjectURL(blob);
};

function download_log(){
    var dt = new Date();
    var timestamp = dt.getFullYear()+"-"+(dt.getMonth()+1)+"-"+dt.getDate()+"-"+dt.getHours()+"-"+dt.getMinutes()+"-"+dt.getSeconds();
    createAndDownloadFile("filetransfer-"+timestamp+".log","<%:filetransfer Log%>:\n"+lv.innerHTML+"\n<%:Core Log%>:\n"+cl.innerHTML);
};

// 删除日志
function del_log() {
    XHR.get('<%=luci.dispatcher.build_url("admin", "system", "filetransfer", "del_log")%>', null, function(x, data){
        lv.innerHTML = "";
        cl.innerHTML = "";
        log_len = 0;
        oc_editor.setValue(lv.value);
        core_editor.setValue(cl.value);
        core_editor.refresh();
        oc_editor.refresh();
    });
};

// 转换日志行
function line_tolocal(str){
    var strt = [], cstrt = [];
    var cn = 0, sn = 0;
    str.trim().split('\n').forEach(function(v) {
        var regex = /(time=)"([^"]*)"/g;
        var res = regex.exec(v);
        var dt = res ? new Date(res[2]) : new Date(v.substring(0, 19));
        if (dt && dt != "Invalid Date") {
            var log_info = v.indexOf("level=") != -1 ? v.substring(res[2].length + 7) : v.substring(res[2].length + 2);
            cstrt[cn] = dt.getFullYear()+"-"+p(dt.getMonth()+1)+"-"+p(dt.getDate())+" "+p(dt.getHours())+":"+p(dt.getMinutes())+":"+p(dt.getSeconds())+log_info;
            cn++;
        } else {
            strt[sn] = v;
            sn++;
        }
    });
    return [strt, cstrt];
};

// 补零处理
function p(s){
    return s < 10 ? '0' + s : s;
};

window.onload = function(){
    get_log_level();
    poll_log();
};

function get_log_level() {
    XHR.get('<%=luci.dispatcher.build_url("admin", "system", "filetransfer", "log_level")%>', null, function(x, status) {
        if (x && x.status == 200 && status.log_level != "") {
            var radio = document.getElementsByName("radios");
            for (i = 0; i < radio.length; i++) {
                if (radio[i].value == status.log_level && !radio[i].checked) {
                    radio[i].checked = true;
                }
            }
        }
    });
};
 
//]]>
</script>
<%+cbi/valuefooter%>
